<!DOCTYPE html>
<html>
<head>
<title>Delete Students</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<%- include('partials/Navbar') %>
</head>
<body>
    
  <div class="container">
  <label for="record_id">RecordID:</label>
  <input type="text" id="record_id" name="record_id"><br><br>

  <button onclick="deleteVotes()">Delete Votes</button><br><br>
  <div id="mydiv" name="mydiv"></div>

  </div>
  <script>

    function deleteVotes() {
      var record_id_val = $("#record_id").val();
      var temp="http://localhost:5678/students/"+record_id_val
      $.ajax({
        url: temp,
        type: "delete",
        success: function(response) {
          $("#mydiv").text("successfully deleted");
        },
        error: function(xhr) {
          $("#mydiv").text('error: ' + xhr);
        }
      });
    }
    
  </script>

</body>
</html>