<!DOCTYPE html>
<html>
<head>
<title>Delete Students</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<%- include('partials/Navbar') %>
</head>
<body>
    
  <div class="container">
  <label for="record_id">Student ID:</label>
  <input type="text" id="sid" name="record_id"><br><br>

  <button onclick="deleteVotes()">Delete Votes</button><br><br>
  <div id="mydiv" name="mydiv"></div>

  </div>
  <script>

    function deleteVotes() {
      var sid_val = $("#sid").val();
      var temp="http://3.145.106.99:5678/delete"
      $.ajax({
        url: temp,
        type: "delete",
        data:{
          student_id: sid_val
        },
        success: function(response) {
          $("#mydiv").text("successfully deleted");
        },
        error: function(xhr) {
          $("#mydiv").text('error: ' + xhr);
        }
      });
    }
    
  </script>

</body>
</html>