<!-- filename: getVote.html -->
<!DOCTYPE html>
<html>
<head>
<title>Get A Student</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<%- include('partials/Navbar') %>
</head>
<body>

  <label for="sid">Student ID:</label>
  <input type="text" id="sid" name="sid"><br><br>

  <button onclick="sendGetStudent()">Submit</button>
  <br>
  <br>
  <div id="mydiv" name="mydiv"></div>
  <div id="div2" name="div2">
    <style>
      #mytable,td{
        border:1px solid black;
      }
      th, td{
        padding: 8px;
        text-align: left;
        padding: 8px;
      }
      table{
        width: 80%;
      }
    </style>
  </div>
  <script>

    function sendGetStudent() {
      var sid_val = $("#sid").val();
      var loc = "http://3.145.106.99:5678/getStudent/" + sid_val;
      $.ajax({
        url: loc,
        type: "get",
        data:{
          student_id: sid_val
        },
        success: function(response) {
          console.log('hello')
          var resp = JSON.stringify(response)
          console.log(resp)
          var tbl=$("<table/>").attr("id","mytable");
          $("#div2").append(tbl);
          //Intial parse only creates a string
          //Successfully parses, but does not create an array
          var jarr = $.parseJSON(resp);
          var realArr = [ ];
          //Pushes JSON into arr
          console.log(jarr)
          realArr.push(jarr);
          console.log(realArr)
          //Function creates table to be outputted
          var th1 = "<th>" + "Enrolled" + "</th>";
          var th2 = "<th>" + "First Name" + "</th>";
          var th3 = "<th>" + "GPA" + "</th>";
          var th4 = "<th>" + "Last Name" + "</th>";
          var th5 = "<th>" + "Student ID" + "</th>";
          $("#mytable").append(tr+th1+th2+th3+th4+th5); 
          for(var i=0;i<realArr.length;i++)
            {
            var tr="<tr>";
            var td1="<td>"+realArr[i]["enrolled"]+"</td>";
            var td2="<td>"+realArr[i]["first_name"]+"</td>";
            var td3="<td>"+realArr[i]["gpa"]+"</td>";
            var td4="<td>"+realArr[i]["last_name"]+"</td>";
            var td5="<td>"+realArr[i]["record_id"]+"</td>";

            $("#mytable").append(tr+td1+td2+td3+td4+td5); 
          }
        },
        error: function(xhr) {
          $("#mydiv").text('error: ' + xhr);
        }
      });
    }
    
  </script>

</body>
</html>