<!-- filename: getAllVotes.html -->
<!DOCTYPE html>
<html>
<head>
<title>Get All Students</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<%- include('partials/Navbar') %>
</head>
<body>
    
  <button onclick="sendGetAllStudent()">Get All Students</button>
  <br>
  <br>
  <div id="mydiv" name="mydiv">
  </div>
  <div id ="div2">
    <style>
    #mytable,td{
      border:1px solid black;
    }
    th, td{
      padding: 8px;
      text-align: left;
      padding: 8px;
    }
    table{
      width: 80%;
    }
  </style>
  </div>

  <script>
    function sendGetAllStudent() {
      $.ajax({
        url: "http://localhost:5678/students",
        type: "get",
        success: function(response) {
        var resp = JSON.stringify(response.students)
        $("#mydiv").text(resp);
        var tbl=$("<table/>").attr("id","mytable");
        $("#div2").append(tbl);
        var arr = $.parseJSON(resp);
        console.log(arr)
        var th1 = "<th>" + "Enrolled" + "</th>";
        var th2 = "<th>" + "First Name" + "</th>";
        var th3 = "<th>" + "GPA" + "</th>";
        var th4 = "<th>" + "Last Name" + "</th>";
        var th5 = "<th>" + "Record ID" + "</th>";
        $("#mytable").append(tr+th1+th2+th3+th4+th5); 
        for(var i=0;i<arr.length;i++)
          {
            var tr="<tr>";
            var td1="<td>"+arr[i]["enrolled"]+"</td>";
            var td2="<td>"+arr[i]["first_name"]+"</td>";
            var td3="<td>"+arr[i]["gpa"]+"</td>";
            var td4="<td>"+arr[i]["last_name"]+"</td>";
            var td5="<td>"+arr[i]["record_id"]+"</td>";

            $("#mytable").append(tr+td1+td2+td3+td4+td5); 
          }
        },
        
        error: function(xhr) {
          $("#mydiv").text('error: ' + xhr);
        }
      });
    }

    


    
  </script>

</body>
</html>